{
  "arrowParens": "always",
  "bracketSpacing": false,
  "overrides": [
    {
      "files": ["*.json", "*.styl", "*.css", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "all"
}
